/* .fullScope {
	background-color: black;
} */

/* .homeBackground {
	background: url('../Pictures/backgroundattemp1.jpg') center center/cover
		no-repeat;
} */

/* .ParentBackground {
	background-color: gray;
} */
.FirstCoopH3 > H3 {
	align-self: start;
	align-items: flex-start;
	text-align: start;
}
.centerAboutText {
	text-align: center;
}

.centerAboutImage {
	align-content: center;
	align-self: center;
	align-items: center;
	justify-content: center;
}
.WorkExperienceHeader > H2 {
	align-self: start;
	align-items: flex-start;
	text-align: start;
	font-size: large;
}
.aboutCenter {
	text-align: center;
	align-content: center;
	align-self: center;
	align-items: center;
	justify-content: center;
}

.footer {
	flex-shrink: 0;
	text-align: center;
	background-color: tomato;
	color: white;
}

.container a {
	color: #ff0000;
	text-decoration: none;
}
