.Appbar {
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	/* position: sticky; */
	top: 0;
	z-index: 999;
}

.AppbarH3 > h3 {
	font: bold;
	color: #fff;
	justify-self: start;

	margin-left: 20px;
}
.Appbarcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1500px;
}
.Navmenu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 60vw;
	justify-content: end;
	font: 70px;

	margin-right: 1rem;
}

.footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: rgb(0, 0, 0);
	position: static;
	bottom: 0;
	left: 0;
	width: 100%;
}
.bottomNavH3 > h3 {
	font: bold;
	color: #fff;
	justify-self: start;

	margin-left: 20px;
}
